In [39]:
#!pip list

In [6]:

import pandas as pd
data=pd.read_csv("https://raw.githubusercontent.com/sagnikghoshcr7/Bank-Customer-Churn-Prediction/master/Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [13]:
import tensorflow

In [21]:
data.drop(["RowNumber","CustomerId","Surname"],axis=1,inplace=True)

In [22]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [23]:

data.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [26]:

data.columns[data.dtypes=="O"]

Index(['Geography', 'Gender'], dtype='object')

In [28]:

data=pd.get_dummies(data,columns=['Geography', 'Gender'],drop_first=True)

In [30]:

X=data.drop("Exited",axis=1)
y=data["Exited"]

In [31]:

import tensorflow
from tensorflow import keras

In [33]:

from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [34]:
X.shape

(10000, 11)

In [42]:

model=Sequential()
model.add(Dense(8,activation="sigmoid",input_dim=11))#input layer
model.add(Dense(5,activation="sigmoid"))# hidden layer
model.add(Dense(1,activation="sigmoid"))# output layer

In [43]:

model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 8)                 96

 dense_6 (Dense)             (None, 5)                 45

 dense_7 (Dense)             (None, 1)                 6

=================================================================
Total params: 147
Trainable params: 147
Non-trainable params: 0
_________________________________________________________________

In [46]:

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [47]:

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scale = scaler.fit_transform(X_train)
X_test_scale = scaler.transform(X_test)

In [51]:
model.compile(optimizer="Adam",loss="binary_crossentropy",metrics=["accuracy"])

In [53]:
model.fit(X_train_scale,y_train,epochs=50,verbose=1)

Epoch 1/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4729 - accuracy: 0.7960
Epoch 2/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4453 - accuracy: 0.7960
Epoch 3/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4335 - accuracy: 0.7960
Epoch 4/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4277 - accuracy: 0.7962
Epoch 5/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4247 - accuracy: 0.8010
Epoch 6/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4226 - accuracy: 0.8067
Epoch 7/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4206 - accuracy: 0.8126
Epoch 8/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4185 - accuracy: 0.8129
Epoch 9/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4165 - accuracy: 0.8136
Epoch 10/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4142 - accuracy: 0.8138
Epoch 11/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4116 - accuracy: 0.8149
Epoch 12/50
250/250 [==============================] - 1s 4ms/step - loss: 0.4092 - accuracy: 0.8169
Epoch 13/50
250/250 [==============================] - 1s 4ms/step - loss: 0.4063 - accuracy: 0.8200
Epoch 14/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4034 - accuracy: 0.8201
Epoch 15/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4005 - accuracy: 0.8245
Epoch 16/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3977 - accuracy: 0.8260
Epoch 17/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3950 - accuracy: 0.8298
Epoch 18/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3923 - accuracy: 0.8314
Epoch 19/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3896 - accuracy: 0.8338
Epoch 20/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3870 - accuracy: 0.8363
Epoch 21/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3844 - accuracy: 0.8399
Epoch 22/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3822 - accuracy: 0.8396
Epoch 23/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3799 - accuracy: 0.8415
Epoch 24/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3774 - accuracy: 0.8435
Epoch 25/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3752 - accuracy: 0.8455
Epoch 26/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3729 - accuracy: 0.8462
Epoch 27/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3710 - accuracy: 0.8470
Epoch 28/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3688 - accuracy: 0.8496
Epoch 29/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3671 - accuracy: 0.8497
Epoch 30/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3653 - accuracy: 0.8511
Epoch 31/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3636 - accuracy: 0.8520
Epoch 32/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3618 - accuracy: 0.8521
Epoch 33/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3603 - accuracy: 0.8533
Epoch 34/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3587 - accuracy: 0.8536
Epoch 35/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3567 - accuracy: 0.8541
Epoch 36/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3561 - accuracy: 0.8544
Epoch 37/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3546 - accuracy: 0.8556
Epoch 38/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3535 - accuracy: 0.8556
Epoch 39/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3521 - accuracy: 0.8560
Epoch 40/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3511 - accuracy: 0.8569
Epoch 41/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3501 - accuracy: 0.8591
Epoch 42/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3489 - accuracy: 0.8584
Epoch 43/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3482 - accuracy: 0.8576
Epoch 44/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3473 - accuracy: 0.8594
Epoch 45/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3466 - accuracy: 0.8591
Epoch 46/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3455 - accuracy: 0.8594
Epoch 47/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3450 - accuracy: 0.8595
Epoch 48/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3441 - accuracy: 0.8596
Epoch 49/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3435 - accuracy: 0.8604
Epoch 50/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3427 - accuracy: 0.8606

In [54]:

y_pred=model.predict(X_test_scale)

63/63 [==============================] - 0s 1ms/step

In [56]:

y_pred

array([[0.28976122],
       [0.2632329 ],
       [0.13378452],
       ...,
       [0.09751689],
       [0.17094861],
       [0.2495416 ]], dtype=float32)

In [57]:

y_pred=y_pred.argmax(axis=-1)

In [ ]:
y_pred.argmax()

In [63]:

pd.DataFrame(y_pred).value_counts()

0    2000
dtype: int64

In [64]:

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7975

In [67]:

y_predict=(y_pred>0.5).astype(int)

In [68]:

accuracy_score(y_test,y_predict)

0.7975